span {font-style:italic;
    font-weight: bolder;
    font-family: cursive;
    font-size: x-large;
}


.jumbotron1 {background-color:lightgray;

}

.jumbotron2 {background-color: whitesmoke;

}


.img-fluid {max-width: 100%; 
    height:auto } 

