span {font-style:italic;
    font-weight: bolder;
    font-family: cursive;
    font-size: xx-large;
    color: crimson;
}



.jumbotron1 {background-color: crimson;

}

.jumbotron2 {background-color: crimson;

}


/* Style the Sticky icons on web page */   
    

    .stickyicon-list a {   
        display: inline-block;   
        text-align: center;   
        padding: 8px;   
        transition: all 0.5s ease;   
        color: white;   
        font-size: 20px;   
        }         

    /* HOver affect on sticky social media icons */   
    .stickyicon-list a:hover {   
        color: #000;   
        width:10px;   
        }   
       
    /* Now we have to design each icon of social media */         
    .facebook {   
    background: #3b5998;   
    color: white;  
    }         
    .twitter {   
    color: white;   
    background: #00acee;   
    }   
    .linkedin {   
    background: #0e76a8;   
    color: white;   
    }         
    .google {   
    color: white;   
    background: #db4a39;   
    }   
    .instagram {   
    background: #3f729b;   
    color: white;   
    }         
    .youtube {   
    color: white;   
    background: #c4302b;    
    }  

